<div class = "center hero-unit">
  <h1> Calendar thing!</h1>
  <%= link_to("Register",register_path, class: "btn btn-large btn-primary")%>
  <%= link_to("Login", login_path, class: "btn btn-large btn-primary")%>
</div>
