<%= form_for(@myeventshandler) do |f| %>
  <% if @myeventshandler.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myeventshandler.errors.count, "error") %> prohibited this myeventshandler from being saved:</h2>

      <ul>
      <% @myeventshandler.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
